<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="static\estilo.css">
    <title>Flask Calculator </title>
    <header id="cabecalho">
        <hgroup>
            <h1>Calculadora com Flask</h1>
        </hgroup>
    </header>
</head>
<body>

    <form action="/calculaflask" method="post">
        
            <label>Numero 1</label>
            <input type="n1" id="n1" name="n1"/>
            <label>Numero 2</label>
            <input type="n2" id="n2" name="n2"/>
            <label>Operação</label>
            <input id="operation" name="operation"></input>
            <input type="submit"></input>
        

    </form>

</body>
</html>